.container {
    width: 100%;
    height: 100vh;
    background-color: #f7f9fc;
}

.innerDiv {
    height: 200px;
    text-align: center;
}

.innerDiv2 {
    background-color: #f7f9fc;
    text-align: left;
    border-right: 2px solid lightgray;
    height: 180px;
}

.innerDiv8 {
    background-color: #f7f9fc;
    height: 230px;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
}

.innerDiv7 {
    background-color: #f7f9fc; 
    border-right: 2px solid lightgray; 
    border-top: 2px solid lightgray;
}

.innerDiv9 {
    height: 210px;
    background-color: #f7f9fc; 
    border-right: 2px solid lightgray; 
    border-bottom: 2px solid lightgray; 
    border-top: 2px solid lightgray;
}

.innerDiv10 {
    height: 40px;
}

.innerDiv11 {
    height: 130px;
}

.skill1 {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 6px;
    padding-top: 4px;
    font-size: 13px;
    font-weight: 400;
}

.skill {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.img {
    width: 10vw;
    height: 10vw;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url(../a1.png);
    background-position: center;
    background-size: cover;
}

.imglocation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:576px) {
    .img {
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
    }

    .innerDiv9 {
        margin-top: 200px;
    }

    .innerDiv10 {
        display: none;
    }

    .innerDiv11 {
        display: none;
    }

    #innerdiv1 {
        border-right: 2px solid lightgray;
    }

    .innerDiv2 {
        background-color: #f7f9fc;
        text-align: left;
        height: 0px;
    }
    
    .innerDiv9 {
        height: 210px;
        background-color: #f7f9fc; 
        border-right: 2px solid lightgray; 
        border-bottom: 2px solid lightgray; 
        border-top: 2px solid lightgray;
        position: relative;
        top: 230px;
    }
}